@media (max-width: 1160px) {
    .header__nav-link {
        padding: 11px;
    }
    .map-contacts{
        left: 1%;
    }
}

@media (max-width: 991px) {
    .header__nav {
        display: none;
    }

    .header__contacts {
        flex-grow: 1;
        margin-right: 36px;
    }
    .benefits__bg{
        display: block;
        width: 350px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.5;
        // filter: blur(1px);
    }
    .benefits__item.right{
        padding-left: 0;
    }
    .benefits__item{
        padding-right: 0;
    }
    .benefits__item::after{
        display: none;
    }
    .map{
        height: 400px;
    }
    .section-map{
        margin-bottom: 60px;
    }
    .section{
        padding-bottom: 90px;
    }
    .section-services{
        padding-top: 60px;
    }
    .about{
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
    .tab__name {
        margin-right: 26px;

        span {
            font-size: 18px;
        }
    }

    .tab__titles {
        width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;
    }
    .benefits__item.right{
        text-align: left;
        padding-left: 36px;
    }
    .benefits__item{
        margin-bottom: 14px;
        padding-bottom: 14px;
        position: relative;
        padding-left: 36px;
        &::before{
            width: 26px;
            height: 26px;
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 4.612-1.538-1.55L0 4.26 2.974 7.25 8 1.193z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            border-radius: 50%;
            border: 1px solid #F88008;
            left: 0;
            top: 0px;
        }
    }
    .benefits__item:last-child {
        margin-bottom: 22px;
    }
    .benefits__bg{
        filter: blur(2px);
        opacity: 0.4;
    }
    .footer__nav{
        display: flex;
        flex-wrap: wrap;
        a{
            width: calc(50% - 24px);
            margin-right: 24px;
        }
    }
}

@media (max-width: 576px) {
    .section{
        padding-bottom: 60px;
    }
    .menu {
        width: 100%;
        padding: 10px 0;
        .logo{
            max-width: 90px;
            margin-bottom: 16px;
        }
    }

    .header__contacts {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .header.scroll{
        .logo{
            max-width: 70px;
        }
    }
    .logo {
        max-width: 70px;
    }

    .menu__close-btn {
        top: 26px;
        right: 16px;
    }

    .wa-link img {
        width: 36px;
    }

    .header__phone svg {
        width: 36px;
        height: 36px;
    }

    .header__contacts {
        margin-right: 20px;
    }

    .btn {
        width: 100%;
    }

    .btn--lg {
        padding: 16px 36px;
        font-size: 18px;
    }
    .btn--md {
        padding: 14px 22px;
        font-size: 16px;
        line-height: 1.2;
    }

    .hero {
        padding: 140px 0 110px 0;
    }

    .tab__img {
        height: 210px;
    }
    .vehicle-card{
        padding: 16px;
    }
    .vehicle-card__price{
        margin-top: 10px;
    }
    .vehicle-card__img {
        max-width: 100%;
        width: 100%;
        height: 160px;
        margin-bottom: 8px;
    }
    .slider-btn {
        width: 48px;
        height: 48px;
    }
    .accordion__item:not(.accordion__item_show) .accordion__body {
        display: none;
    }
    .map {
        height: 320px;
    }
    .footer__nav{
        display: flex;
        flex-wrap: wrap;
        a{
            width: calc(50% - 16px);
            margin-right: 16px;
        }
    }
}